/* Logo */
.logo-junglamigos{
    width: 220px;
}

/* Slider */
@media(max-width:1200px){
    .carousel-inner{
        margin-top: 65px;;
    }
}

@media(max-width:970px){
    .carousel-inner{
        margin-top: 65px;;
    }
}

@media(max-width:700px){
    .carousel-inner{
        margin-top: 65px;;
    }
}

@media(max-width:500px){
    .carousel-inner{
        margin-top: 65px;;
    }
}

@media(max-width:400px){
    .carousel-inner{
        margin-top: 85px;;
    }
}

/* Introduccion */
.tucan{
    width: 200px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

@media (max-width:500px){
    .tucan{
        width: 180px;
        margin-left: 100px;
    }
}

@media (max-width:400px){
    .tucan{
        width: 170px;
        margin-left: 70px;
    }
}

.introduccion{
    background-color: rgb(138, 199, 46);
}

.parrafo-justificado{
    text-align: justify;
}
.t-white{
    color: white;
}

/* Noticias */
.t-black{
    color: black;
}
.noticias{
    background-color: rgb(241, 201, 90);
}
.enlace{
    color: rgb(122, 62, 6);
    text-decoration: underline;
}
.img-noticia{
    width: 310px;
    cursor: pointer;
}

@font-face{
    font-family: Hatsch;
    src: url(../font/HatschSans.otf)
}

.subtitulo{
    font-family: Hatsch;
    color: rgb(122, 62, 6);
    font-size: 40px;
}

@media (max-width: 400px){
    .subtitulo{
        font-size: 34px;
    }
}

/* Denuncias */
.denuncias{
    background-color: rgb(0, 0, 0);
}

.t-red{
    color: red
}


.mono{
    width:500px;
}

@media (max-width: 1000px){
    .mono{
        width:500px;
    }
}

@media (max-width: 970px){
    .mono{
        width:750px;
        margin-top: -10px;
        margin-bottom: 20px;;
    }
    .denuncia{
        margin-bottom: -10px;
    }
}

@media (max-width: 750px){
    .mono{
        width:500px;
    }
}

@media (max-width: 400px){
    .mono{
        width:400px;
    }
    .column2-denuncia{
        margin-bottom: -15px;;
    }
}

.qr-denuncia{
    width: 170px;
}

.wp-denuncia{
    color: rgb(138, 199, 46);
    text-decoration: none;
    width: 40px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

.wp-logo{
    font-size: 35px !important;
}

@media (max-width: 800px){
    .subtitulo-denuncia{
        margin-top: 15px;;
    }
}

/* Testimonios */
.t-green{
    color: rgb(138, 199, 46);
}

.testimonios{
    background-color: rgb(254, 255, 232);
}

/* Silvestre Kids */
.silvestre-kids{
    background-color: rgb(31, 185, 0);
}

.img-sk{
    width: 250px;
}

.btn{
    color: rgb(255, 253, 255) !important;
    background-color: rgb(138, 199, 46) !important;
    border: 1.5px solid rgb(0, 0, 0) !important;
}

.btn:hover {
    color: rgb(255, 253, 255) !important;
    background-color: rgb(64, 104, 4) !important;
    border: 1.5px solid rgb(138, 199, 46) !important;
}

/* Suscribete */
.suscribete{
    margin-top: 65px;
    margin-bottom: 65px;
}

.sub-suscribete{
    text-align: center;
}

.par-suscribete{
    text-align: center;
}

/* Footer */
.footer{
    background-color: rgb(46, 41, 41);
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 20px;
}

.tituloFooter{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;;
}

.botonRedes{
    border-radius: 100% !important;
    width: 40px;
    height: 40px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
}

.redes-sociales{
    margin-top: -35px;
}